@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
     header{
      text-align: center;
      margin:10px;
      border: 1px solid black;
    }
    #container{
      overflow:auto;
      margin:10px 0px;
    }
    #nav{
      margin-right: 3%;
      width: 15%;
      float: left;
      height: 350px;
    }
    #content{
      position: relative;
      border: 1px solid black;
      float: left;
      width:80%;
      height: 350px;
    }
    footer{
      border: 1px solid black;
      text-align: center;
      clear: left;
    }
    body {
      margin: 0;
      background-color: #fafafa;
      font-family: 'NanumSquareRound';
      color: #3a3b3b;
    }
    ul {
    font-family: 'InfinitySans-RegularA1';
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 15%;
      background-color: #efeae5;
      position: fixed;
      height: 100%;
      overflow: auto;
    }
    li a {
      font-family: 'InfinitySans-RegularA1';
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }
    li a.active {
      background-color: #dd9289;
      color: white;
    }
    li a:hover:not(.active) {
      background-color: #dd9289;
      color: white;
    }
    h1{
      text-align: center;
      font-size: 30pt;
      font-family: 'InfinitySans-RegularA1';
    }
    .product-card {
      width: 300px;
      height: 330px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 1px;
      border: 1px solid rgb(230, 230, 230);
      border-radius: 12px;
      overflow: hidden;
      display: inline-block;
    }
    .product-img {
      width: 100%;
      height: 210px;
    }
    .product-contents {
      display: flex;
      flex-direction: column;
      padding: 8px;
    }
    .product-name {
      font-size: 14px;
    }
    .product-price {
      font-size: 16px;
      font-weight: 600;
      margin-top: 4px;
    }
    .product-author {
      display: flex;
      align-items: center;
      margin-top: 12px;
    }
    .product-siteurl {
      width: 24px;
    }
